<!DOCTYPE html>
<html>
  <head>
    <title>Database Comparison</title>
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Database Comparison</h1>
      <div class="row">
        <div class="col-sm">
          <h2>SQL</h2>
          <ul>
            <li>Structured data model with fixed schema</li>
            <li>Uses SQL for querying and manipulating data</li>
            <li>Supports ACID transactions</li>
            <li>Vertical scalability (scale up)</li>
            <li>Strong consistency</li>
          </ul>
        </div>
        <div class="col-sm">
          <h2>NoSQL</h2>
          <ul>
            <li>Flexible data model with dynamic schema</li>
            <li>Uses non-SQL for querying and manipulating data (e.g. JSON, XML)</li>
            <li>Supports eventual consistency</li>
            <li>Horizontal scalability (scale out)</li>
            <li>Eventual consistency</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <a class="btn btn-primary" href="{{ url_for('action_insert') }}">Click to interact with databases.</a>
      </div>
    </div>
    <!-- Load Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>