{% extends 'base.html' %}

{% block title %}Create Product{% endblock %}

{% block content %}
    <h1>Create Product</h1>
    <form action="{{ url_for('views.create_product') }}" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" step="any" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}